#Proceso ETL

Este es un proyecto donde se reliza un proceso de ETL a un dataset, en este caso enfocado en carros, con la finalidad de tratar los datos de forma correcta y convertirlos en Insights valiosos, con PySpark

Elaborado por: Luis Felipe Sanchez Sanchez

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

## Crear sesión en Spark

In [2]:
#Iniciamos sesión en spark
from pyspark.sql import SparkSession
from pyspark import SparkContext

Spsession = SparkSession.builder.appName("ETL").getOrCreate()

In [3]:
#Inicamos el contexto
SpContext = SparkContext.getOrCreate()

##Cargamos los datos

In [4]:
#Conectamos drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#Cargamos los datos
import pandas as pd
import numpy as np

#cargamos el csv
df = pd.read_csv('/content/drive/MyDrive/Ejecicios de practica/ETL-Carros/cars.csv', sep=';')

###Analisis de datos

In [6]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           407 non-null    object
 1   MPG           407 non-null    object
 2   Cylinders     407 non-null    object
 3   Displacement  407 non-null    object
 4   Horsepower    407 non-null    object
 5   Weight        407 non-null    object
 6   Acceleration  407 non-null    object
 7   Model         407 non-null    object
 8   Origin        407 non-null    object
dtypes: object(9)
memory usage: 28.7+ KB

In [8]:
df.describe()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
count,407,407,407,407,407,407,407,407,407
unique,309,131,6,84,95,357,98,14,4
top,Toyota Corolla,13.0,4,97.00,150.0,2130.,14.5,73,US
freq,9,20,207,22,22,4,23,40,254

In [9]:
df.dtypes

Car             object
MPG             object
Cylinders       object
Displacement    object
Horsepower      object
Weight          object
Acceleration    object
Model           object
Origin          object
dtype: object

Cargamos datos desde la sesión de Spark

In [10]:
data = Spsession.read.csv('/content/drive/MyDrive/Ejecicios de practica/ETL-Carros/cars.csv', header=True, sep=';', inferSchema=True)

In [11]:
data.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

##Selección de columnas

In [12]:
#Metodo 1

data.select(data.Car, data.MPG).show()

+--------------------+------+
|                 Car|   MPG|
+--------------------+------+
|              STRING|DOUBLE|
|Chevrolet Chevell...|  18.0|
|   Buick Skylark 320|  15.0|
|  Plymouth Satellite|  18.0|
|       AMC Rebel SST|  16.0|
|         Ford Torino|  17.0|
|    Ford Galaxie 500|  15.0|
|    Chevrolet Impala|  14.0|
|   Plymouth Fury iii|  14.0|
|    Pontiac Catalina|  14.0|
|  AMC Ambassador DPL|  15.0|
|Citroen DS-21 Pallas|     0|
|Chevrolet Chevell...|     0|
|    Ford Torino (sw)|     0|
|Plymouth Satellit...|     0|
|  AMC Rebel SST (sw)|     0|
| Dodge Challenger SE|  15.0|
|  Plymouth 'Cuda 340|  14.0|
|Ford Mustang Boss...|     0|
|Chevrolet Monte C...|  15.0|
+--------------------+------+
only showing top 20 rows

In [13]:
# Metodo 2

data.select(data['Car'], data['MPG']).show()

+--------------------+------+
|                 Car|   MPG|
+--------------------+------+
|              STRING|DOUBLE|
|Chevrolet Chevell...|  18.0|
|   Buick Skylark 320|  15.0|
|  Plymouth Satellite|  18.0|
|       AMC Rebel SST|  16.0|
|         Ford Torino|  17.0|
|    Ford Galaxie 500|  15.0|
|    Chevrolet Impala|  14.0|
|   Plymouth Fury iii|  14.0|
|    Pontiac Catalina|  14.0|
|  AMC Ambassador DPL|  15.0|
|Citroen DS-21 Pallas|     0|
|Chevrolet Chevell...|     0|
|    Ford Torino (sw)|     0|
|Plymouth Satellit...|     0|
|  AMC Rebel SST (sw)|     0|
| Dodge Challenger SE|  15.0|
|  Plymouth 'Cuda 340|  14.0|
|Ford Mustang Boss...|     0|
|Chevrolet Monte C...|  15.0|
+--------------------+------+
only showing top 20 rows

In [14]:
# Metodo 3
from pyspark.sql.functions import col
data.select(col('Car'), col('MPG')).show()

+--------------------+------+
|                 Car|   MPG|
+--------------------+------+
|              STRING|DOUBLE|
|Chevrolet Chevell...|  18.0|
|   Buick Skylark 320|  15.0|
|  Plymouth Satellite|  18.0|
|       AMC Rebel SST|  16.0|
|         Ford Torino|  17.0|
|    Ford Galaxie 500|  15.0|
|    Chevrolet Impala|  14.0|
|   Plymouth Fury iii|  14.0|
|    Pontiac Catalina|  14.0|
|  AMC Ambassador DPL|  15.0|
|Citroen DS-21 Pallas|     0|
|Chevrolet Chevell...|     0|
|    Ford Torino (sw)|     0|
|Plymouth Satellit...|     0|
|  AMC Rebel SST (sw)|     0|
| Dodge Challenger SE|  15.0|
|  Plymouth 'Cuda 340|  14.0|
|Ford Mustang Boss...|     0|
|Chevrolet Monte C...|  15.0|
+--------------------+------+
only showing top 20 rows

In [15]:
#Contamos cuantos hay por cada modelo
df['Car'].value_counts()

Car
Toyota Corolla       9
Ford Pinto           6
Volkswagen Rabbit    5
Ford Maverick        5
AMC Matador          5
                    ..
Oldsmobile Omega     1
Saab 99le            1
Dodge Dart Custom    1
Volvo 144ea          1
Audi Fox             1
Name: count, Length: 309, dtype: int64

In [16]:
datos = df['Car'],df['MPG'].head(10)
print(datos)

(0                         STRING
1      Chevrolet Chevelle Malibu
2              Buick Skylark 320
3             Plymouth Satellite
4                  AMC Rebel SST
                 ...
402              Ford Mustang GL
403            Volkswagen Pickup
404                Dodge Rampage
405                  Ford Ranger
406                   Chevy S-10
Name: Car, Length: 407, dtype: object, 0    DOUBLE
1      18.0
2      15.0
3      18.0
4      16.0
5      17.0
6      15.0
7      14.0
8      14.0
9      14.0
Name: MPG, dtype: object)

## Agregar nuevas columnas

In [17]:
# Caso 1 "Agregamos una columna"

from pyspark.sql.functions import lit

data = data.withColumn('Country', lit('USA'))
data.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Country|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|    USA|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|    USA|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|    USA|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|    USA|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|    USA|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|    USA|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|    USA|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|    USA|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|    USA|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|    USA|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|    USA|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|    USA|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|    USA|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|    USA|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|    USA|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|    USA|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|    USA|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|    USA|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|    USA|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|    USA|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+
only showing top 20 rows

In [18]:
# CASO 2 "Agregar dos o mas columnas"

data = data.withColumn('Region', lit('AMERICA')).withColumn('Year', lit(2025))
data.show()

+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+-------+----+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Country| Region|Year|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+-------+----+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|    USA|AMERICA|2025|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|    USA|AMERICA|2025|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|    USA|AMERICA|2025|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|    USA|AMERICA|2025|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|    USA|AMERICA|2025|
|         Ford Torino|  17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|    USA|AMERICA|2025|
|    Ford Galaxie 500|  15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|    USA|AMERICA|2025|
|    Chevrolet Impala|  14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|    USA|AMERICA|2025|
|   Plymouth Fury iii|  14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|    USA|AMERICA|2025|
|    Pontiac Catalina|  14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|    USA|AMERICA|2025|
|  AMC Ambassador DPL|  15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|    USA|AMERICA|2025|
|Citroen DS-21 Pallas|     0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|    USA|AMERICA|2025|
|Chevrolet Chevell...|     0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|    USA|AMERICA|2025|
|    Ford Torino (sw)|     0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|    USA|AMERICA|2025|
|Plymouth Satellit...|     0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|    USA|AMERICA|2025|
|  AMC Rebel SST (sw)|     0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|    USA|AMERICA|2025|
| Dodge Challenger SE|  15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|    USA|AMERICA|2025|
|  Plymouth 'Cuda 340|  14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|    USA|AMERICA|2025|
|Ford Mustang Boss...|     0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|    USA|AMERICA|2025|
|Chevrolet Monte C...|  15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|    USA|AMERICA|2025|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------+-------+----+
only showing top 20 rows

Agrupando por columnas

In [19]:
df['Origin'].value_counts()

Origin
US        254
Japan      79
Europe     73
CAT         1
Name: count, dtype: int64

In [30]:
print("Value counts for 'Acceleration':")
print(df['Acceleration'].value_counts())

print("\nValue counts for 'Origin':")
print(df['Origin'].value_counts())

Value counts for 'Acceleration':
Acceleration
14.5    23
15.5    21
16.0    16
14.0    16
13.5    15
        ..
20.4     1
17.1     1
15.6     1
24.6     1
11.6     1
Name: count, Length: 98, dtype: int64

Value counts for 'Origin':
Origin
US        254
Japan      79
Europe     73
CAT         1
Name: count, dtype: int64

##Validación datos faltantes

In [20]:
df.isnull().sum()
#En este caso no hay datos faltantes

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

In [31]:
#No hay datos faltantes, pero si hubieran se pueden eliminar todo el registro donde hay un NULL
df.dropna()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [32]:
#O se pueden sustituir los valores faltantes por 0
df.fillna(0)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US