#Extracción, exploración y analisis datos en netflix

Este es un proyecto a modo de autoestudio que tiene como enfasis el proceso ETL o Extract, Transform y Load; para este caso, un dataset que contiene datos de netflix con la cual se hará la manipulación de los mismos. La finalidad es poner en practica mis capacidades y adquierir nuevas destrezas.

Realizado por: Luis Felipe Sanchez Sanchez

[Dataset](https://www.kaggle.com/datasets/shivamb/netflix-shows?resource=download)

##Librerias y conexiones

Importamos librerias

In [ ]:
#!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 54.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector

In [ ]:
#Conectamos google drive
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Importamos el dataset
df = pd.read_csv('')

In [8]:
#Creamos la conexión a base de datos de mysql
conexion = mysql.connector.connect(
    user='root',
    password='root',
    host='localhost',
    database='',
    port='3306')
print(conexion)

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)