#Extracción, exploración y analisis datos en netflix

Este es un proyecto a modo de autoestudio que tiene como enfasis el proceso ETL o Extract, Transform y Load; para este caso, un dataset que contiene datos de netflix con la cual se hará la manipulación de los mismos. La finalidad es poner en practica mis capacidades y adquierir nuevas destrezas.

Realizado por: Luis Felipe Sanchez Sanchez

[Dataset](https://www.kaggle.com/datasets/shivamb/netflix-shows?resource=download)

##Librerias y conexiones

Importamos librerias

In [ ]:
#!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 54.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [ ]:
#pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\pipe-\appdata\local\programs\python\python313\lib\site-packages (2.0.38)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pipe-\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pipe-\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
#Conectamos google drive
#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
#Importamos el dataset
df = pd.read_csv('netflix_titles.csv')

In [20]:
#Creamos la conexión a base de datos de mysql

user='root',
password='root',
host='localhost',
database='netflix',
port='3306'

#creamos el engine de SQLAlchemy
engine = create_engine('mysql+pymysql://root:root@localhost:3306/netflix')

In [ ]:
#Enviamos la info del dataset a mysql
df.to_sql(name='netflix', con=engine, if_exists='replace', index=False)

8807

Iniciamos la sección de análisis en la base de datos

In [ ]:
#Validamos la cantidad maxima de caracteres que tiene la columna show_id
print("Max: "+df['show_id'].str.len().max())
#Validamos la cantidad minima de caracteres que tiene la columna show_id
print("Min: "+df['show_id'].str.len().max())

##Limpieza de datos, esta se hará mediante MySQL

In [ ]:
#Removemos duplicados desde mysql
##primero validamos si hay algún duplicado por el ID
select show_id, count(*) 
from Netflix
group by show_id
having count(*)>1

#Ahora validamos que no hallan titulos repetidos
select * 
from netflix 
where title in(
	select title
	from netflix
	group by title
	having count(*)>1);
#Para ese casi si hay duplicados entonces procederemos a eliminar esas celdas

In [ ]:
#Separaremos los datos de cast, director y country para un análisis mas sencillo
#creamos una columna que divide por coma los directores en caso de haber varios en un film y lo metemos en una nueva tabla
CREATE TABLE netflix_directors AS
SELECT show_id, TRIM(director_name) AS director
FROM netflix
JOIN JSON_TABLE(
  CONCAT(
    '["',
    REPLACE(REPLACE(IFNULL(director, ''), '"', ''), ',', '","'),
    '"]'
  ),
  '$[*]' COLUMNS(director_name VARCHAR(255) PATH '$')
) AS jt;

SyntaxError: invalid syntax (1448003576.py, line 3)